.env
__pycache__
.pytest_cache
.coverage*
cov.xml
.DS_Store
.vscode
bin
lib
pyvenv.cfg
*.log
home_automation.egg-info
dist
.tox
*.pdf
tests/*.pdf
home_automation.tab
home_automation.conf.yml
client_secret.json

# frontend
home_automation/server/frontend/node_modules
home_automation/server/frontend/build
home_automation/server/frontend/src/constants.ts

# backend
*.db
