argparse
flask
yagmail
fileloghelper
httpx>=0.18,<0.20
pytest
pytest-cov
pytest-asyncio
pytest-httpx
pytest-flask
pyfakefs
pylint-exit
aiohttp
mypy
mypy-extensions
tox==3.*
python-crontab
croniter
watchdog
pid
docker
gunicorn
