argparse
flask[async]
fileloghelper
httpx>=0.18,<0.25
pytest
pytest-cov
pytest-asyncio
pytest-httpx
pytest-flask
pyfakefs
pylint
pylint-exit
aiohttp
mypy
mypy-extensions
types-requests
tox==4.*
python-crontab
croniter
watchdog
pid
docker
gunicorn
requests
semver
GitPython
moodle-dl
pyyaml
kubernetes
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
setproctitle
redis
