.content {
	margin: 10px;
}

@media(prefers-color-scheme: dark) {
	:root {
		--bs-body-color: white;
		--bs-body-bg: var(--bs-gray-900);
	}
}

.alert { /* override bootstrap */
	margin-bottom: 0;
}

a.link {
	text-decoration: none;
	color: var(--bs-gray-700);
}

a.link:hover {
	color: none;
}

.inherit, .inherit:hover {
	color: inherit;
	text-decoration: inherit
}
