.docker-container {
	border: none;
	border-radius: 10px;
	padding: 10px;
	background-color: #ececec;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: clamp(50%, 700px, 80%);
}

.docker-container > span.name {
	font-weight: bold;
}

.docker-container > span.status {
	font-style: italic;
}

.docker-container > span.status.running {
	color: green;
}

.docker-container button.action {
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 5px;
	background-color: #007bffbb;
	color: white;
}

.docker-container button.action.destructive {
	background-color: red;
	color: white;
}

.docker-container > div {
	display: flex;
	gap: 10px;
}
