[Unit]
Description=Home Automation Project
Requires=home_automation.setup.service
After=home_automation.setup.service

[Service]
WorkingDirectory=/mnt/FastStorage/mithem-applications/home_automation
ExecStart=/bin/python3 -m home_automation.runner

[Install]
WantedBy=multi-user.target
