[Unit]
Description=Home Automation Setup

[Service]
Type=oneshot
WorkingDirectory=/mnt/FastStorage/mithem-applications/home_automation/
ExecStart=bash -c 'script/install; script/prepare-for-startup'

[Install]
WantedBy=multi-user.target
